
.vs/Calculator_Kitty_Ktty/DesignTimeBuild/.dtbcache
.vs/Calculator_Kitty_Solution/v15/.suo
.vs/Calculator_Kitty_Solution/v15/Server/sqlite3/db.lock
.vs/Calculator_Kitty_Solution/v15/Server/sqlite3/storage.ide
.vs/Calculator_Kitty_Solution/v15/Server/sqlite3/storage.ide-shm
.vs/Calculator_Kitty_Solution/v15/Server/sqlite3/storage.ide-wal
Calculator_Kitty/bin/Debug/netcoreapp2.1/Calculator_Kitty.deps.json
Calculator_Kitty/bin/Debug/netcoreapp2.1/Calculator_Kitty.dll
Calculator_Kitty/bin/Debug/netcoreapp2.1/Calculator_Kitty.pdb
Calculator_Kitty/bin/Debug/netcoreapp2.1/Calculator_Kitty.runtimeconfig.dev.json
Calculator_Kitty/bin/Debug/netcoreapp2.1/Calculator_Kitty.runtimeconfig.json
*.cache
*.props
Calculator_Kitty/obj/Calculator_Kitty.csproj.nuget.g.targets
Calculator_Kitty/obj/Debug/netcoreapp2.1/Calculator_Kitty.AssemblyInfo.cs
Calculator_Kitty/obj/Debug/netcoreapp2.1/Calculator_Kitty.csproj.FileListAbsolute.txt
Calculator_Kitty/obj/Debug/netcoreapp2.1/Calculator_Kitty.dll
Calculator_Kitty/obj/Debug/netcoreapp2.1/Calculator_Kitty.pdb
Calculator_Kitty/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Calculator_Kitty/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Calculator_Kitty/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Calculator_Kitty/obj/project.assets.json
.vs/Calculator_Kitty_Solution/DesignTimeBuild/.dtbcache
